.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-name a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.make-chat{
  font-size: 10px;
}

.make-chat a{
  color: deepskyblue;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}

.rooms {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.chatroom-index a{
  color: white;
  text-decoration: none;
}


.main-chat {
  background-color: #ffffff;
  width: calc(100% - 300px);
}

.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.chatroom-name {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.finish-chat {
  margin-top: 40px;
}

.finish-chat a{
  color: darkred;
  text-decoration: none;
  border: 1px solid darkred;
  padding: 20px;
}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}


.message-content {
  display: flex;
}

.message {
  padding: 10px 0;
  margin-bottom: 40px;
}

.created-at {
  margin-left: 10px;
  font-size: 12px;
  color: #999;
}

.message-user-name {
  font-size: 16px;
  color: #434A54;
}

.user-message {
  font-size: 14px;
  color: #434A54;
  margin-top: 10px;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
  
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message {
  width: 100%;
  height: 50px;
  padding: 0 0 0 10px;
  border-style: none;
}

.form-submit {
  background-color: #38aef0;
  font-size: 16px;
  color: white;
  padding: 0 20px;
  border-style: none;
  height: 50px;
  margin-left: 15px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

